@import "tailwindcss";
@import "./styles/index.css";

@theme inline {
  /* Colors */
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-opacity-lighter: var(--color-primary-opacity-lighter);
  --color-primary-opacity-light: var(--color-primary-opacity-light);
  --color-primary-opacity-main: var(--color-primary-opacity-main);
  --color-primary-opacity-dark: var(--color-primary-opacity-dark);
  --color-primary-opacity-darker: var(--color-primary-opacity-darker);
  --color-primary-shadow-sm: var(--color-primary-shadow-sm);
  --color-primary-shadow-md: var(--color-primary-shadow-md);
  --color-primary-shadow-lg: var(--color-primary-shadow-lg);
  --color-secondary-100: var(--color-secondary-100);
  --color-secondary-200: var(--color-secondary-200);
  --color-secondary-300: var(--color-secondary-300);
  --color-secondary-400: var(--color-secondary-400);
  --color-secondary-500: var(--color-secondary-500);
  --color-secondary-600: var(--color-secondary-600);
  --color-secondary-700: var(--color-secondary-700);
  --color-secondary-800: var(--color-secondary-800);
  --color-secondary-900: var(--color-secondary-900);
  --color-secondary-opacity-lighter: var(--color-secondary-opacity-lighter);
  --color-secondary-opacity-light: var(--color-secondary-opacity-light);
  --color-secondary-opacity-main: var(--color-secondary-opacity-main);
  --color-secondary-opacity-dark: var(--color-secondary-opacity-dark);
  --color-secondary-opacity-darker: var(--color-secondary-opacity-darker);
  --color-secondary-shadow-sm: var(--color-secondary-shadow-sm);
  --color-secondary-shadow-md: var(--color-secondary-shadow-md);
  --color-secondary-shadow-lg: var(--color-secondary-shadow-lg);
  --color-info-100: var(--color-info-100);
  --color-info-200: var(--color-info-200);
  --color-info-300: var(--color-info-300);
  --color-info-400: var(--color-info-400);
  --color-info-500: var(--color-info-500);
  --color-info-600: var(--color-info-600);
  --color-info-700: var(--color-info-700);
  --color-info-800: var(--color-info-800);
  --color-info-900: var(--color-info-900);
  --color-info-opacity-lighter: var(--color-info-opacity-lighter);
  --color-info-opacity-light: var(--color-info-opacity-light);
  --color-info-opacity-main: var(--color-info-opacity-main);
  --color-info-opacity-dark: var(--color-info-opacity-dark);
  --color-info-opacity-darker: var(--color-info-opacity-darker);
  --color-info-shadow-sm: var(--color-info-shadow-sm);
  --color-info-shadow-md: var(--color-info-shadow-md);
  --color-info-shadow-lg: var(--color-info-shadow-lg);
  --color-success-100: var(--color-success-100);
  --color-success-200: var(--color-success-200);
  --color-success-300: var(--color-success-300);
  --color-success-400: var(--color-success-400);
  --color-success-500: var(--color-success-500);
  --color-success-600: var(--color-success-600);
  --color-success-700: var(--color-success-700);
  --color-success-800: var(--color-success-800);
  --color-success-900: var(--color-success-900);
  --color-success-opacity-lighter: var(--color-success-opacity-lighter);
  --color-success-opacity-light: var(--color-success-opacity-light);
  --color-success-opacity-main: var(--color-success-opacity-main);
  --color-success-opacity-dark: var(--color-success-opacity-dark);
  --color-success-opacity-darker: var(--color-success-opacity-darker);
  --color-success-shadow-sm: var(--color-success-shadow-sm);
  --color-success-shadow-md: var(--color-success-shadow-md);
  --color-success-shadow-lg: var(--color-success-shadow-lg);
  --color-warning-100: var(--color-warning-100);
  --color-warning-200: var(--color-warning-200);
  --color-warning-300: var(--color-warning-300);
  --color-warning-400: var(--color-warning-400);
  --color-warning-500: var(--color-warning-500);
  --color-warning-600: var(--color-warning-600);
  --color-warning-700: var(--color-warning-700);
  --color-warning-800: var(--color-warning-800);
  --color-warning-900: var(--color-warning-900);
  --color-warning-opacity-lighter: var(--color-warning-opacity-lighter);
  --color-warning-opacity-light: var(--color-warning-opacity-light);
  --color-warning-opacity-main: var(--color-warning-opacity-main);
  --color-warning-opacity-dark: var(--color-warning-opacity-dark);
  --color-warning-opacity-darker: var(--color-warning-opacity-darker);
  --color-warning-shadow-sm: var(--color-warning-shadow-sm);
  --color-warning-shadow-md: var(--color-warning-shadow-md);
  --color-warning-shadow-lg: var(--color-warning-shadow-lg);
  --color-error-100: var(--color-error-100);
  --color-error-200: var(--color-error-200);
  --color-error-300: var(--color-error-300);
  --color-error-400: var(--color-error-400);
  --color-error-500: var(--color-error-500);
  --color-error-600: var(--color-error-600);
  --color-error-700: var(--color-error-700);
  --color-error-800: var(--color-error-800);
  --color-error-900: var(--color-error-900);
  --color-error-opacity-lighter: var(--color-error-opacity-lighter);
  --color-error-opacity-light: var(--color-error-opacity-light);
  --color-error-opacity-main: var(--color-error-opacity-main);
  --color-error-opacity-dark: var(--color-error-opacity-dark);
  --color-error-opacity-darker: var(--color-error-opacity-darker);
  --color-error-shadow-sm: var(--color-error-shadow-sm);
  --color-error-shadow-md: var(--color-error-shadow-md);
  --color-error-shadow-lg: var(--color-error-shadow-lg);
  --color-natural-100: var(--color-natural-100);
  --color-natural-200: var(--color-natural-200);
  --color-natural-300: var(--color-natural-300);
  --color-natural-400: var(--color-natural-400);
  --color-natural-500: var(--color-natural-500);
  --color-natural-600: var(--color-natural-600);
  --color-natural-700: var(--color-natural-700);
  --color-natural-800: var(--color-natural-800);
  --color-natural-900: var(--color-natural-900);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);
  --color-gray-opacity-lighter: var(--color-gray-opacity-lighter);
  --color-gray-opacity-light: var(--color-gray-opacity-light);
  --color-gray-opacity-main: var(--color-gray-opacity-main);
  --color-gray-opacity-dark: var(--color-gray-opacity-dark);
  --color-gray-opacity-darker: var(--color-gray-opacity-darker);

  /* Typography */
  --text-display: var(--font-size-display);
  --text-display--line-height: var(--line-height-display);
  --text-display--font-weight: var(--font-weight-display);
  --text-h1: var(--font-size-h1);
  --text-h1--line-height: var(--line-height-h1);
  --text-h1--font-weight: var(--font-weight-h1);
  --text-h2: var(--font-size-h2);
  --text-h2--line-height: var(--line-height-h2);
  --text-h2--font-weight: var(--font-weight-h2);
  --text-h3: var(--font-size-h3);
  --text-h3--line-height: var(--line-height-h3);
  --text-h3--font-weight: var(--font-weight-h3);
  --text-h4: var(--font-size-h4);
  --text-h4--line-height: var(--line-height-h4);
  --text-h4--font-weight: var(--font-weight-h4);
  --text-h5: var(--font-size-h5);
  --text-h5--line-height: var(--line-height-h5);
  --text-h5--font-weight: var(--font-weight-h5);
  --text-h6: var(--font-size-h6);
  --text-h6--line-height: var(--line-height-h6);
  --text-h6--font-weight: var(--font-weight-h6);
  --text-subtitle-1: var(--font-size-subtitle-1);
  --text-subtitle-1--line-height: var(--line-height-subtitle-1);
  --text-subtitle-1--font-weight: var(--font-weight-subtitle-1);
  --text-subtitle-2: var(--font-size-subtitle-2);
  --text-subtitle-2--line-height: var(--line-height-subtitle-2);
  --text-subtitle-2--font-weight: var(--font-weight-subtitle-2);
  --text-body-1: var(--font-size-body-1);
  --text-body-1--line-height: var(--line-height-body-1);
  --text-body-1--font-weight: var(--font-weight-body-1);
  --text-body-2: var(--font-size-body-2);
  --text-body-2--line-height: var(--line-height-body-2);
  --text-body-2--font-weight: var(--font-weight-body-2);
  --text-caption: var(--font-size-caption);
  --text-caption--line-height: var(--line-height-caption);
  --text-caption--font-weight: var(--font-weight-caption);
  --text-overline: var(--font-size-overline);
  --text-overline--line-height: var(--line-height-overline);
  --text-overline--font-weight: var(--font-weight-overline);

  /* Border radius */
  --radius-xs: var(--rounded-xs);
  --radius-tn: var(--rounded-tn);
  --radius-sm: var(--rounded-sm);
  --radius-md: var(--rounded-md);
  --radius-lg: var(--rounded-lg);
  --radius-xl: var(--rounded-xl);
  --radius-full: var(--rounded-full);
  --radius: var(--rounded);

  /* Icon sizes */
  --spacing-icon-xs: var(--icon-xs);
  --spacing-icon-sm: var(--icon-sm);
  --spacing-icon-tn: var(--icon-tn);
  --spacing-icon-md: var(--icon-md);
  --spacing-icon-lg: var(--icon-lg);
  --spacing-icon-xl: var(--icon-xl);
}

* {
  box-sizing: border-box;
  --font-montserrat: var(--font-montserrat);
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  background: var(--color-white);
  font-family: var(--font-montserrat), sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

@layer base {
  .container-x {
    padding: 0 6rem;
  }

  .container-y {
    padding: 8rem 0;
  }

  .container-section {
    padding: 5rem 1.5rem;
    background: var(--color-natural-100);
  }

  @media (min-width: 768px) {
    .container-section {
      padding: 8rem 6rem;
    }
  }
}
